
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, height=device-height initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
  <link rel="shortcut icon" href="/images/favicon.jpg">

  <title>ReactRailsTemplate</title>

  <script>
    window.RAILS_ENV="<%= ENV['RAILS_ENV'] %>"
    window.APP = {
      Actions: {},
      Components: {},
      Stores: {}
    };
  </script>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <!--[if lte IE 9]>
    <script type="text/javascript" charset="utf-8">
      alert("You are using an old version of IE. Please update your browser to IE 9+, or switch to Safari, Firefox, or Chrome.")
    </script>
  <![endif]-->

  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
